
* { margin: 0; padding: 0; box-sizing: border-box; }

@font-face {
    font-family: 'EduAustralia';
    src: url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
  }

body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
nav{
    margin: 0;
    padding: 0;
    display: flex;  
    justify-content: space-around;
    background-color: #333;    
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 5vh;
    background-color: #333;
  /*  text-align: center;*/
}
nav li{
    float: left;
}
nav > ul a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    /* margin: 1rem; */
}
nav ul:hover{
    opacity: 0.8;
    box-shadow: 1px 5px 70px rgb(177, 177, 177);;
    border-radius: 15px;
}
.toggle-button { 
  display: none; 
  flex-direction: column; 
  justify-content: space-evenly; 
  height: 4vh; 
  width: 21px;
}
.toggle-button:hover { 
   .nav ul{
      display: flex;
      flex-direction: column;
   }

   
}

.toggle-button .bar { 
  height: 3px; 
  width: 25px; 
  background-color: white;
  border-radius: 10px; 

}

.divfondo {
    background-image: url('./img/Tonneua.png');
    background-color: black;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end
    /*background-size: cover; */
  }
.divfondo > a {
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    color: aliceblue;
    font-family: 'EduAustralia', Times, serif;
    display: flex;
    justify-content: end;
    align-items: center;
  }
.divfondo >a >img {
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 50%;
    filter: invert(1);
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.mercado{
    width: 20%;
}

section{
    text-align: center;    
    background-color: rgb(0, 0, 0);
    /*border: 1px solid blue; */
}
/* Seccion de Inicio*/

.banner-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
.slide {
  width: 20%; /* Ajusta el ancho según la cantidad de imágenes */
  height: 40vh;
  margin: 1px;
  border-radius: 10px;
  transition: width 0.3s ease, transform 0.3s ease;
  /*transition: transform 0.3s ease-in-out; */
    z-index: 1;
  }

.slide:hover {
    opacity: 1;
    width: 300px; transform: scale(1.1);
    height: 40vh;
    z-index: 2; 
}


/** Section de Productos */
.titulo{
    width: 100%;
    font-family: Tahoma;
    font-size: 2.2rem;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body h2{
   font-size: 1.5rem;
   margin: 5px;
   text-transform: lowercase;
   
}
.texto-oculto {
    display: none; /* Ocultamos el texto inicialmente */
}

.card-body:hover .texto-oculto {
    display: block;
    text-align: start;
}
.cards-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    
}
.cards {
   /* perspective: 100px; /* Crea un efecto 3D  */
    width: 200px;
    margin: 5px;
    align-items: center;
    transition: transform 1.0s; /* Agrega una transición suave al rotar */
    display: flex;
    justify-content: center;
    flex-wrap: wrap
  }

.productos img {
    border-radius: 20px;
    width: 12rem;
    height: 15rem;
} 
.productos img:hover {
    width: 11rem;
    height: 16rem;
    box-shadow: 2px 2px 100px white;
}
  
.cards a {
    background-color: rgb(111, 165, 31);
    color: black;
    border-radius: 10px;
    display: flex;
    width: 80%;
    height: 30px;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    text-decoration: none;
  } 
.cards a:hover {
    box-shadow: 5px 5px 50px  rgb(222, 241, 194);
  }



.contacto{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.formulario form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
.formulario form input{
    border-radius: 10px;
    height: 2rem;
    width: 400px;
  }
.formulario form button{
    background-color: rgb(111, 165, 31);
    width: 200px;
    height: 40px;
    border-radius: 10px;
  }
.formulario form button:hover {
    box-shadow: 3px 3px 50px  rgb(140, 167, 101);
  }
  

  /* CSS del footer */
.formulario form textarea {
    margin: 10px;
    border-radius: 10px;
}

@media (max-width: 900px) {
  .slide{
    display: none;
  }
  .slide:nth-child(2),.slide:nth-child(4){
    display: block;
    width: 25vw;
  } 
  .slide:nth-child(3){
    display: block;
    width: 40vw;
  } 
  main{
    display: grid;
    grid-template-columns: 0 auto 0;
  }
  .noview{
    display: none;
  }
}

@media (max-width: 570px) {

  main{
    display: grid;
    grid-template-columns: auto 3fr auto;
  }
  .formulario form input{
    width: 100%;
  }
  .slide{
    display: none;
  }
  .slide:nth-child(3){
    display: block;
    width: 100%;
  }


}

footer ul {	
    width: 100%;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer ul li {
    text-decoration: none;
    list-style: none;
    line-height: 50px;
    
}
footer ul img{
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    background-color: aliceblue;
    border-radius: 7px;
    margin: 5px;
    
}
