.imain {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(85,85,85,1) 0%, rgba(0,0,0,1) 87%);  
  height: 75vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  
  }

 .carousel-item img{
  height: 700px !important;
  width: 650px !important;
 }