.container{
  display: flex;
  justify-content: space-around;

}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 80%;
  }
  
.cards-container section {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
  }
section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: #1d2e33;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color:aliceblue;
    font-family: "Delius";
    font-weight: 450;
    font-style: normal;
    font-size: 20px;
}
section h3{
    font-size: 30px;
    font-style: italic;
    text-transform: uppercase;
    color: aliceblue;
}
section img{
    width: 100px;
    height: 200px;
}


section button{
  margin: 13px;
  height: 45px;
  width: 40%;
  background-color: green;
  border-radius: 10px;
  align-self: center; 
  font-size: 20px;
  color: aliceblue;
}

.contador{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contador button{
  height: 35px;
  width: 45px;
  background-color: rgb(242, 186, 82);
  padding: 1px;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
  
  @media (max-width: 768px) {
    .cards-container section {
      width: 100%;
      flex-wrap: wrap;
    }
  }