

@font-face {
    font-family: 'EduAustralia';
    src: url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
  }

body{
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
nav{
    display: flex;  
    justify-content: center;
    flex-direction: row;
    color: aliceblue;
    font-size: 1rem;
    border: 1px groove gray;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 50px;
    text-align: center;
}
nav > ul a {
    text-decoration: none;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    margin: 30px;
}
nav ul:hover{
    background-color: grey;
    border-radius: 15px;
}
.divfondo {
    background-image: url('./img/Tonneua.png');
    background-color: black;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end
    /*background-size: cover; */
  }
.divfondo > a {
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    color: aliceblue;
    font-family: 'EduAustralia', Times, serif;
    display: flex;
    justify-content: end;
    align-items: center;
  }
.divfondo >a >img {
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 50%;
    filter: invert(1);
}

main {
    display: grid;
    grid-template-columns: 2fr 800px 2fr;
}

section{
    padding: 20px;
    text-align: center;    
    background-color: rgb(0, 0, 0);
    /*border: 1px solid blue; */
}

/** Section de Productos */
.titulo{
    width: 100%;
    font-family: Tahoma;
    font-size: 2.2rem;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body h2{
   font-size: 1.5rem;
   margin: 0;
}
.texto-oculto {
    display: none; /* Ocultamos el texto inicialmente */
}

.card-body:hover .texto-oculto {
    display: block;
    text-align: start;
}
.cards-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    
}
.cards {
   /* perspective: 100px; /* Crea un efecto 3D  */
    width: 200px;
    margin: 5px;
    align-items: center;
    transition: transform 1.0s; /* Agrega una transición suave al rotar */
    display: flex;
    justify-content: center;
    flex-wrap: wrap
  }

.productos img {
    border-radius: 20px;
    width: 12rem;
    height: 15rem;
} 
.productos img:hover {
    width: 11rem;
    height: 16rem;
    box-shadow: 2px 2px 100px white;
}
  
.cards a {
    background-color: rgb(111, 165, 31);
    color: black;
    border-radius: 10px;
    display: flex;
    width: 80%;
    height: 30px;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    text-decoration: none;
  } 
.cards a:hover {
    box-shadow: 5px 5px 50px  rgb(222, 241, 194);
  }
.formulario form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
.formulario form input{
    border-radius: 10px;
    height: 2rem;
    width: 400px;
  }
.formulario form button{
    background-color: rgb(111, 165, 31);
    width: 200px;
    height: 40px;
    border-radius: 10px;
  }
.formulario form button:hover {
    box-shadow: 3px 3px 50px  rgb(140, 167, 101);
  }
  

  /* CSS del footer */
.formulario form textarea {
    margin: 10px;
    border-radius: 10px;
}

footer ul {	
    width: 100%;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer ul li {
    text-decoration: none;
    list-style: none;
    line-height: 50px;
    
}
footer ul img{
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    background-color: aliceblue;
    border-radius: 7px;
    margin: 5px;
    
}
